<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <!--- <ion-back-button mode="md"></ion-back-button>-->

      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="ion-button custom-class" (click)="addtocart()" color="red"  fill="solid">
        <ion-icon name="cart" style="color: white"></ion-icon>
        <ion-badge color="danger" >{{charge_compteur()}}</ion-badge>
      </ion-button>

    </ion-buttons>
    <ion-title style="text-align: center">Ajouter un client</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <form role="form" #adminForm="ngForm" (ngSubmit)="adduser(adminForm.form)">
    <ion-list lines="none" class="contactFormList">
    <ion-item class="inputs-item" lines="none">
      <ion-input class="form-control" [(ngModel)]="usernomText" #usernom="ngModel" placeholder="Nom" type="text" name="usernom"
        required></ion-input>
        
     
    </ion-item>

    <ion-item class="inputs-item" lines="none">
      
        <ion-input class="form-control" [(ngModel)]="userprenomText" #userprenom="ngModel" placeholder="Prénom" type="text" name="userprenom"
        required></ion-input>
     
    </ion-item>

    <ion-item class="inputs-item" lines="none">
      
      <ion-input class="form-control" [(ngModel)]="adrmailText" #adrmail="ngModel" placeholder="Email" type="email" name="adrmail"
      required></ion-input>
   
    </ion-item>

    <ion-item class="inputs-item" lines="none">
      
      <ion-input class="form-control" [(ngModel)]="nomutilidText" #nomutilid="ngModel" placeholder="Matricule Fiscale" type="text" name="nomutilid"
      required></ion-input>
   
    </ion-item>

    <ion-item class="inputs-item" lines="none">
      
      <ion-input class="form-control" [(ngModel)]="adrText" #adr="ngModel" placeholder="Adresse" type="text" name="adr"
      required></ion-input>
   
    </ion-item>

    <ion-item class="inputs-item" lines="none">
      
      <ion-input class="form-control" [(ngModel)]="villeText" #ville="ngModel" placeholder="Ville" type="text" name="ville"
      required></ion-input>
   
    </ion-item>

    <ion-item class="inputs-item" lines="none">
      
      <ion-input class="form-control" [(ngModel)]="datenaissText" #datenaiss="ngModel" value="{{this.today2}}" type="date" name="datenaiss"
      required></ion-input>
   
    </ion-item>

    <ion-item class="inputs-item" lines="none">
      
      <ion-input class="form-control" [(ngModel)]="telText" #tel="ngModel" placeholder="Téléphone" type="text" name="tel"
      required></ion-input>
   
    </ion-item>

    <ion-item class="inputs-item" lines="none">
      
      <ion-input class="form-control" [(ngModel)]="faxText" #fax="ngModel" placeholder="Fax" type="text" name="fax"
      required></ion-input>
   
     
    </ion-item>

  </ion-list>
   
    <div class="col-md-6" style="text-align: right">
      <ion-button type="submit" expand="block" color="secondary" [disabled]="!adminForm.valid">Enregistrer</ion-button>
    </div>
  </form>

 
  <!--<ion-button expand="block" color="secondary" (click)="sendMessage()">Enregistrer</ion-button>-->
</ion-content>