.box{
  border-radius: 20px;
  box-shadow: 2px 2px 15px -2px rgb(50, 50, 50);
  background-color:dodgerblue;
  text-align: center;
  vertical-align: middle;
  color: darkorange;
  width: 200px;
}
.box2{
  border-radius: 20px;
  box-shadow: 2px 2px 15px -2px rgb(50, 50, 50);
  background-color: dodgerblue;
  text-align: center;
  vertical-align: middle;
  color: darkorange;
  collapse: 2%;
}
.table{
  width: 100%;
  height: 100%;
}

.btn{
  background-color: transparent;
}


.title{
  text-align: center;
  font-family: 'Avenir';
  font-size: 18px;
  margin: 0px;
  margin-top: 10px;
}


.center {
  width: 100%;
  height: 100%;
}

.seperator{
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background-color: #ECF0F1;
  display: flex;
  justify-content: center;
}

ion-button{
  margin-left: 20px;
  margin-right: 20px;
  --border-radius: 5px;
}
ion-badge {
  position: absolute;
  font-size: 8pt;
  right: -5px;
  top: 2px;
}

.ion-button {
  margin: 5px;
  width: 40px;
  height: 40px;
  position: relative;
  // overflow: visible!important;
}

/* Setting Overflow Visible */
.ion-button.custom-class::part(native) {
  overflow: visible;
}