<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <!--- <ion-back-button mode="md"></ion-back-button>-->

      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="ion-button custom-class" (click)="addtocart()" color="red"  fill="solid">
        <ion-icon name="cart" style="color: white"></ion-icon>
        <ion-badge color="danger" >{{charge_compteur()}}</ion-badge>
      </ion-button>

    </ion-buttons>
    <ion-title style="text-align: center">Envoyer une demande</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <form (submit)="getCurrentUser(clientid.value)">
    <ion-list lines="none" class="contactFormList">

      <ion-item class="inputs-item" lines="none">
        <ion-label>Client</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Fermer" #clientid>
          <ion-select-option value="" hidden>Client : </ion-select-option>
          <ion-select-option value="{{item.id}}" *ngFor="let item of user_list">
           <p>{{item.firstName}} {{item.lastName}}</p>
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="inputs-item" lines="none" *ngFor="let item of category_list">
        <ion-label>Catégorie : </ion-label>
        <ion-input type="text" readonly value="{{item.getname()}}" #catid></ion-input>
      </ion-item>

      <ion-item class="inputs-item" lines="none">
        <ion-label>Produit : </ion-label>
        <ion-input type="text" readonly value="{{this.nomprod}}" #prodnom></ion-input>
      </ion-item>


      <ion-item class="inputs-item" lines="none">
        <ion-label>Quantité : </ion-label>
        <ion-input type="text" readonly value="{{this.quantity}}" #qte></ion-input>
      </ion-item>

    </ion-list>
    <ion-button expand="block" color="secondary" (click)="getCurrentUser(clientid.value)">Enregistrer</ion-button>
  </form>

</ion-content>
